.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg-gradient {
  background-image: linear-gradient(133.59deg, rgba(77, 175, 242, .05) -26.22%, rgba(11, 13, 24, .35) 24.83%, #0b0d18 50%, rgba(11, 13, 24, .35) 69.29%, rgba(77, 175, 242, .05) 125.29%)
}

.bg-initial-gradient {
  background-image: linear-gradient(0deg, #0b0d18, #0b0d18);
}
.m-bg-secondary{
  background-color: rgb(var(--secondary-rgb)) !important;
}
.ff-secondary {
  font-family: var(--secondary-font-family) !important;
}
.h-full{
  min-height: 100vh !important;
  height: auto;
}
.border-tetiary{
  border: 2px solid #00a6de26!important;
}

.text-hover-primary:hover{
  color:rgb(var(--primary-rgb)) !important;
}
.bg-hover-primary:hover{
  background-image: linear-gradient(133.59deg, var(--primary05) -26.22%, var( --primary03) 24.83%);
  border-color: white !important;
  padding: 10px;
}

.cursor{
  cursor: pointer;
}

.table{
  --bs-table-bg: rgb(var(--secondary-rgb)) !important;
  --bs-table-border-color: var(--primary08) !important;
}

.active-btn{
  color: #0d6efd;
}